<%- include('partials/header', { title: 'Sign In' }) %>
<%- include('partials/navbar') %>

<main class="centered-page">
  <h1><span>Sign In</span></h1>
  <form action="/sign-in" method="POST">
    <label for="username">Username:</label><br />
    <input type="text" id="username" name="username" required /><br />

    <label for="password">Password:</label><br />
    <input type="password" id="password" name="password" required /><br />

    <button type="submit">Sign In</button>
  </form>
  <% if (typeof error !== 'undefined' && error) { %>
  <script>
    alert("<%= error %>");
  </script>
<% } %>

</main>

<%- include('partials/footer') %>
